<div class="row mt-3">
  <div class="col-12">
    <h3>Previous Searches</h3>
  </div>
</div>
<ul class="list-group mt-3" *ngFor="let item of searchList">
  <!-- <div class="row justify-content-between"> -->
    <a [routerLink]="['/result',item.genre,item.title]" class="list-group-item list-group-item-action">{{item.genre}}|<strong style="color: #6128fa">{{item.title}}</strong></a>
    <a (click)="onDelete(item.id)"class="list-group-item list-group-item-action">Delete</a>
  <!-- </div> -->
</ul>
<div class="row mt-3">
  <div class="col-12">
    <button type="button" class="btn btn-info btn-block" (click)="navigate()">Search</button>
  </div>
</div>
